* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #4635b1;
  --color-purple: #b771e5;
  --color-green: #aeea94;
  --color-yellow: #fffbca;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: var(--color-purple);
  height: 100vh;
  width: 100vw;
  gap: 5px;
}

.card {
  background-color: var(--color-yellow);
  display: grid;
  place-items: center;
}

button {
  background-color: var(--color-green);
  color: var(--color-blue);
}

span {
  background-color: var(--color-purple);
  color: var(--color-yellow);
  padding: 4px 8px;
  border-radius: 12px;
  cursor: default;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  transform: translateX(-50%);
}

.tooltip-container.top .tooltip {
  bottom: 125%;
  left: 50%;
}

.tooltip-container.bottom .tooltip {
  top: 125%;
  left: 50%;
}

.tooltip-container.left .tooltip {
  top: -5px;
  right: 60%;
}
.tooltip-container.right .tooltip {
  top: -5px;
  left: 160%;
}
