.main-container {
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;

img {
    width: 100px;
    height: 100px;
}
