
.app-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: #b771e5; 
    height: 100vh;
    width: 100vw;
    gap: 5px;
  }
  
  
  .grid-card {
    background-color: #fffbca;
    display: grid;
    place-items: center;
  }
  
  
  .custom-btn {
    background-color: #aeea94; 
    color: #4635b1;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .custom-btn:hover {
    border-color: #646cff;
  }
  
  .custom-btn:focus,
  .custom-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .hover-text {
    background-color: #b771e5; 
    color: #fffbca; 
    padding: 4px 8px;
    border-radius: 12px;
    cursor: default;
  }
  
  
  .tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .tooltip-box {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    transform: translateX(-50%);
  }
  
  .tooltip-wrapper.top .tooltip-box {
    bottom: 125%;
    left: 50%;
  }
  
  .tooltip-wrapper.bottom .tooltip-box {
    top: 125%;
    left: 50%;
  }
  
  .tooltip-wrapper.left .tooltip-box {
    top: -5px;
    right: 60%;
  }
  
  .tooltip-wrapper.right .tooltip-box {
    top: -5px;
    left: 160%;
  }
  
  
  .light-mode .app-container {
    color: #213547;
    background-color: #ffffff;
  }
  
  .light-mode .custom-btn {
    background-color: #f9f9f9;
  }
  
  .light-mode .custom-btn:hover {
    border-color: #747bff;
  }
  