.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main-container {
  position: relative;
  width: 700px;
  height: 700px;
  border: 4px solid black;
}

.switch-btn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  cursor: pointer;
}

.child1,
.child2,
.child3,
.child4 {
  position: absolute;
  width: 200px;
  height: 200px;
}

.child1 {
  top: 100px;
  left: 20px; 
}

.child2 {
  top: 100px;
  right: 20px;
}

.child3 {
  bottom: 100px;
  left: 20px; 
}

.child4 {
  bottom: 100px;
  right: 20px;
}

.child-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid black;
}
